* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

.menu {
	padding: 80px 140px;
	border-radius: 15px;
	background-color: #222;
	box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
}

.menu .link {
	position: relative;
	padding: 10px 20px;
	font-size: 48px;
	color: rgb(0, 140, 255);
	text-decoration: none;
}

.menu .link,
.menu .link::after,
.menu .link::before {
	transition: 0.3s;
}

.menu .one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.menu .one:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.menu .two::before,
.menu .two::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}

.menu .two::before {
	top: -2px;
	left: -8px;
	border-top: 0 solid #fff;
	border-left: 0 solid #fff;
}

.menu .two::after {
	bottom: -2px;
	right: -8px;
	border-bottom: 0 solid #fff;
	border-right: 0 solid #fff;
}

.menu .two:hover::before,
.menu .two:hover::after {
	width: 50px;
	height: 50%;
}

.menu .two:hover::before {
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}

.menu .two:hover::after {
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.menu .three::before,
.menu .three::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.menu .three::before {
	right: 50%;
}

.menu .three::after {
	left: 50%;
}

.menu .three:hover::before,
.menu .three:hover::after {
	width: 50%;
}

.menu .four {
	z-index: 0;
}

.menu .four::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background-color: #fff;
	z-index: -1;
}

.menu .four:hover {
	color: #000000;
}

.menu .four:hover::after {
	height: 100%;
}

.menu .five {
	z-index: 0;
}

.menu .five:hover {
	animation: blink 0.5s;
}

.menu .five::before,
.menu .five::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	background-color: #fff;
	z-index: -1;
}

.menu .five::before {
	left: 0;
}

.menu .five::after {
	right: 0;
}

.menu .five:hover::before,
.menu .five:hover::after {
	animation: background 0.5s 0.4s forwards;
}

@keyframes background {
	from {
		wiwdth: 0;
	}

	to {
		width: 50%;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}
